.footer {
  margin: 60px auto;
  text-align: center;
  max-width: 1280px;
}

.footer__text {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  color: #212121b2;
  margin: 0;
}
